<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files *.sh>
    Order Deny,Allow
    Deny from all
</Files>

<Files *.md>
    Order Deny,Allow
    Deny from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files api.php>
    Order Allow,Deny
    Allow from all
</Files>